
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background-color: #c35067;
  background-repeat: none;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color:rgb(75, 73, 73);
  min-width: 100vw;
  color: whitesmoke;
 
}

:root{
  width:100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

